.rowFlex{
    display: flex !important;
}

.serviceInfoSection{
    padding-left: 40%;
    padding-top: 15%;
}

.serviceFeedbackSection{
    padding-right: 30%;
    padding-left: 10%;
}
.serviceHeader{
    color: #576855;
    letter-spacing: 0.07em;
    line-height: 1.3em;
    text-align: center;
    font: normal normal normal 48px/1.4em lulo-clean-w01-one-bold,questrial,sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.serviceHeaderDescription{
    letter-spacing: 0.05em;
    line-height: 1.8em;
    font: normal normal normal 15px/1.4em questrial,sans-serif;
    color: #424242;
    text-align: center;
    padding-bottom: 20px;
}

.serviceHeaderPrice{
    letter-spacing: 0.05em;
    line-height: 1.8em;
    font: normal normal normal 18px/1.4em questrial,sans-serif;
    font-weight: bolder;
    color: #424242;
    text-align: center;
    padding-bottom: 30px;
}

.serviceTitle{
    letter-spacing: 0.2em;
    color: #576855;
    line-height: 1.8em;
    font: normal normal normal 15px/1.4em questrial,sans-serif;
    text-transform: uppercase;
    padding: 50px 0px 30px 0px;
}

.serviceDescription, .serviceInformation{
    letter-spacing: 0.05em;
    line-height: 1.8em;
    font: normal normal normal 15px/1.4em questrial,sans-serif;
    color: #424242;

}

.serviceWrapper{
    padding-bottom: 75px;
}

.serviceFeedbackButtonWrapper{
    text-align: center;
}
.serviceFeedbackButton{
    width: 150px;
    height: 50px;
    font-size: 20px;
}

/* ----------- Desktop ----------- */

@media only screen and (min-device-width: 813px) {
    .serviceBannerImage{
        width: 80%;
        height: 350px;
    }

}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (max-device-width: 812px) { 
    .row{
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .serviceHeader{
        font-size: 25px;
        padding-bottom: 30px;
    }

    .align-center-mobile{
        text-align: center;
    }

    .serviceDescription{
        width: 100%;
    }

    .serviceInfoSection, .serviceFeedbackSection{
        padding: 10px;
    }

    .serviceBannerImage{
        width: 100%;
        height: 350px;
    }
}

/* Portrait */
@media only screen  
  and (max-device-width: 812px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (max-device-width: 812px) 
  and (orientation: landscape) { 

}